.mdl-layout__header .mdl-button {
  position: absolute;
  top: 36px;
  right: 48px;
  z-index: 2;

  transition: background-color, color 300ms ease-in-out;

  &[disabled] {
    pointer-events: none;
  }
}
